<div class="flex flex-col gap-y-6">
  <app-input-form></app-input-form>
  <div
    class="!z-50 relative flex flex-col rounded-[20px] max-w-[300px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 w-full !p-4 3xl:p-![18px] undefined border-2"
  >
    <div class="relative flex flex-row justify-between">
      <div class="flex items-center">
        <div
          class="flex h-9 w-9 items-center justify-center rounded-full bg-indigo-100"
        >
          <span class="material-symbols-rounded h-6 w-6 text-brand-500">
            <!-- check_circle -->
          </span>
        </div>
        <h4 class="ml-4 text-xl font-bold text-navy-700">Tasks</h4>
      </div>
      <button
        class="flex items-center text-xl hover:cursor-pointer bg-lightPrimary p-2 text-brand-500 hover:bg-gray-100"
      >
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 16 16"
          class="h-6 w-6"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
          ></path>
        </svg>
      </button>
    </div>

    <div class="h-full w-full">
      <div  *ngFor="let todo of todos" class="mt-5 flex items-center justify-between p-2">
        <div class="flex items-center justify-center gap-2">
          <input
            [(ngModel)]="todo.active"
            type="checkbox"
            (click)="onToggleTask(todo.id)"
            class="defaultCheckbox relative flex h-[20px] min-h-[20px] w-[20px] min-w-[20px] appearance-none items-center justify-center rounded-md border border-gray-300 text-white/0 outline-none transition duration-[0.2s] checked:border-none checked:text-blue-500 hover:cursor-pointer checked:bg-blue-500"
            name="weekly"
          />
          <p class="text-base font-bold text-navy-700">{{todo.title}}</p>
        </div>
        <img
          *ngIf="!todo.active"
          src="../../../../../assets/icons/trash-icon.svg" width="25" alt="trash-icon" class="cursor-pointer"
          (click)="onDeleteTask(todo.id)"
        >
      </div>
    </div>
  </div>
</div>
