<div class="flex flex-col gap-y-6">
  <app-input-form></app-input-form>
  <div
    class="!z-50 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 w-full !p-4 3xl:p-![18px] undefined border-2 xl:w-[40rem]"
  >
    <div class="flex gap-x-8">
      <div class="text-center">
        <span>Complete</span>
      </div>
      <div class="text-center flex-1 translate-x-[-5%]">
        <span>Title</span>
      </div>
      <div class="text-center">
        <span>Action</span>
      </div>
    </div>
    <div class="h-full w-full">
      <div  *ngFor="let todo of todos" class="mt-5 flex items-center justify-between p-2 gap-x-8 border-t-2">
        <div class="relative">
          <input
          [(ngModel)]="todo.active"
          type="checkbox"
          (click)="onToggleTask(todo.id)"
          class="defaultCheckbox relative flex h-[20px] min-h-[20px] w-[20px] min-w-[20px] appearance-none items-center justify-center rounded-md border border-gray-300 text-white/0 outline-none transition duration-[0.2s] checked:border-none checked:text-blue-500 hover:cursor-pointer checked:bg-blue-500 "
          name="weekly"
        />
        <img *ngIf="todo.active" src="../../../../../assets/icons/check-icon.svg" width="20" alt="check-icon" class="absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] cursor-pointer"(click)="onToggleTask(todo.id)">
        </div>
        <div class="flex-1 text-center text-wrap max-w-[100px] overflow-hidden lg:max-w-none">
          <p class="text-base font-bold text-navy-700 truncate whitespace-nowrap">{{todo.title}}</p>
        </div>
        <div>
          <img
          *ngIf="!todo.active; else activeIcon"
          src="../../../../../assets/icons/trash-icon.svg" width="25" alt="trash-icon" class="cursor-pointer"
          (click)="onDeleteTask(todo.id)"
          >
          <ng-template #activeIcon>
            <img
            src="../../../../../assets/icons/happy-icon.svg" width="25" alt="trash-icon" class="cursor-pointer"
            >
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
